@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');


/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }

  li {
    display: inline-block;
    padding-right: 5px;
    a {
      text-decoration: none;
    }
  }
}

.list-horizontal {
  li {
    display: inline-block;
    margin-right: 5px;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

/* Tag cloud */

.tag-size-1 {
  font-size: 14px;
  color: #74b9ff;
}

.tag-size-2 {
  font-size: 18px;
  color: #0984e3;
}

.tag-size-3 {
  font-size: 22px;
  color: #a29bfe;
}

.tag-size-4 {
  font-size: 25px;
  color: #6c5ce7;
}

.tag-size-5 {
  font-size: 30px;
  color: #fd79a8;
}
